extends layout

block metas

block title
  title= title

block links

block headScripts

block bodyScripts

block content

  .modal.fade(id='modalAlert', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title

        .modal-body

          .alertSuccess.alert.alert-success.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
          .alertWarning.alert.alert-warning.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
          .alertDanger.alert.alert-danger.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")

          div(id="errScrollbox")

          button(class="btn btn-default btn-md", data-dismiss="modal", style="margin-top: 6px;") OK

        .modal-footer

  .main

    .container

      .row

        .col-lg-9.col-md-10.col-sm-11.col-xs-12.col-centered

          .panel-body

            h3= header

            br

            p !{(content).replace(/\n/g, '<br/>')}


            p Please
              |&nbsp;
              a.highlight(href='/') visit our homepage
              |&nbsp;or&nbsp;
              a.highlight(href='/login') Log In
              |&nbsp;or&nbsp;
              a.highlight(href='/signup') Sign Up
              |&nbsp;to use Election App 2017.


            p Contact
              |
              a.highlight(href='/customerservice') Customer Service
              |&nbsp;for questions and comments.

  - if ( err )
    script.
      $('#modalAlert .modal-title').html( '!{err.title}' )
      $('#modalAlert .alertDanger').html( '!{err.alert}' )
      $('#modalAlert #errScrollbox').html( '!{err.message}' )
      $('#modalAlert .alertDanger').addClass('show').removeClass('hide')
      $('#modalAlert').modal({keyboard: false,backdrop: 'static'})
