extends layout

block metas
  meta(name="csrf-token", content= `${csrfToken}`)

block title
  title Log In
  
block links

block headScripts

block bodyScripts
  script(src='/javascripts/loginHelpers.js')

block content

  .modal.fade(id='modalAlert', tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title

        .modal-body

          .alertSuccess.alert.alert-success.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
          .alertWarning.alert.alert-warning.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")
          .alertDanger.alert.alert-danger.hide(role="alert", style="margin-top: 10px; margin-bottom: 22px;")

          div(id="errScrollbox")

          button(class="btn btn-default btn-md", data-dismiss="modal", style="margin-top: 6px;") OK

        .modal-footer

  .modal.fade(id="forgotPasswordFormModal", name="forgotPasswordFormModal", tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Forgot your password?

        .modal-body

          form(action="https://localhost:3000/api/forgotpassword", id="forgotPasswordForm", name="forgotPasswordForm", method="post", enctype="application/x-www-form-urlencoded")

            .formLead
              p Forgot your password? Enter your email address below and we'll send instructions on how to reset your password.

            fieldset

              .alertWarning.alert.alert-warning.hide(role="alert", style="margin-top: 6px; margin-bottom: 12px;")

              .form-group

                label.control-label(style="margin-top:10px;") Email:

                input.form-control.input-md(id="forgotPassword", name="forgotPassword", placeholder="Email Address", title="Please enter a valid Email Address", type="email", required)

                .text-danger.hide.loginerror(style="margin-top:8px;") Email is required

              button(class="btn btn-default btn-md modalOkayBtn" data-dismiss="modal" style="display:none;") OK
              |
              div(class="modalCancelSubmitBtns")
                button(class="btn btn-default btn-md cancelButton" data-dismiss="modal") Cancel
                | &nbsp;&nbsp;&nbsp;&nbsp;
                button(type="submit", id="forgotPasswordSubmitBtn", name="forgotPasswordSubmitBtn", class="btn btn-primary btn-md") Submit

        .modal-footer
          .loading(style="display:none;")

  .main

    .container

      .row

        .col-lg-6.col-md-6.col-sm-8.col-xs-12.col-centered

          .panel-body
 
            <!-- h2.form-title Welcome back! -->

            <!-- h3 Please sign in. -->

            p.small CSRF token: <br> #{csrfToken}
            script.
              console.log('pug > isSafari: ', isSafari)

            if (message != undefined)

              if(type === 'success')
                .alert.alert-success(role="alert") #{message}

              if(type === 'warning')
                .alert.alert-warning(role="alert") #{message}

              if(type === 'danger')
                .alert.alert-danger(role="alert") #{message}
                

            form(action="https://localhost:3000/api/loginuser", id="loginForm", name="loginForm", method="post", enctype="application/x-www-form-urlencoded")

              .row
                .col-xs-12
                  .form-group
                    label.control-label.sr-only Email Address
                    input.form-control(id="login-email", name="login-email", placeholder="Email Address", type="text", title="Please enter a valid Email Address", required)

              .row
                .col-xs-12
                  .form-group
                    label.control-label.sr-only Password
                    input.form-control(id="login-password", name="login-password", placeholder="Password", type="password", autocomplete="off", title="Please enter your Password", required)

              .row
                .col-xs-12
                  button(type="submit", class="btn btn-primary btn-md", id="loginSubmitBtn") Submit

              .row
                .col-xs-12(style="margin-top:8px;")
                  .text-danger.hide.loginerror Email and Password are required. Please try again.

              .row
                .col-xs-12(style="margin-top:8px;")
                  .text-danger.hide.formerror
                    strong Login failed!

              .row
                .col-xs-12(style="margin-top:12px;")
                  i
                    a(href="#" id="forgotPasswordAnchor", onclick="helper.clearForgotPassword();") Forgot your password?

  .modal-backdrop.fade.in(style="display: none;")
     img(src="/images/ajax-loader.gif" style="position: fixed; top: 45%; left: 49%;")

  - if ( err )
    script.
      $('#modalAlert .modal-title').html( '!{err.title}' )
      $('#modalAlert .alertDanger').html( '!{err.alert}' )
      $('#modalAlert #errScrollbox').html( '!{err.message}' )
      $('#modalAlert .alertDanger').addClass('show').removeClass('hide')
      $('#modalAlert').modal({keyboard: false,backdrop: 'static'})
