extends layout

block metas
  meta(name="csrf-token", content=`${csrfToken}`)

block title
  title User Profile
  
block links

block headScripts

block bodyScripts
  script(src='/javascripts/userProfileHelpers.js')

block content

  .modal.fade(id='editProfileModalAlert', name="editProfileFormModalAlert", tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Edit Profile Update Alert

        .modal-body

          .alertSuccess.alert.alert-success.hide(style="margin-top: 10px; margin-bottom: 22px;")

          .alertWarning.alert.alert-warning.hide(style="margin-top: 10px; margin-bottom: 22px;")

          .alertDanger.alert.alert-danger.hide(style="margin-top: 10px; margin-bottom: 22px;")

          button(class="btn btn-default btn-md" data-dismiss="modal") OK

        .modal-footer


  .modal.fade(id="editProfileFormModal", name="editProfileFormModal", tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Edit your profile

        .modal-body

          form(action="https://localhost:3000/api/userprofile", id="editProfileForm", name="editProfileForm", method="put", enctype="application/x-www-form-urlencoded")

            .alertDanger.alert.alert-danger.hide(style="margin-top: 0px; margin-bottom: 10px;") An Error occurred processing your request, please try again.

            div
              .form-group

                label.control-label(id="editProfileFormLabelCurrent")
                div(class="flex-containerMainCentered")
                  div(class="flex-containerSubProfile")
                    div.dont-break-out(id="modalFormElementValueCurrent", style="font-size: 1.0em;")


            div.required-fields
              .form-group

                label.control-label(id="editProfileFormLabelUpdated")

                div(style="height:40px; width:100%; style=margin-top:10px;")

                  div.hide(id="editProfileInputElementParent", style="position:absolute; width:100%; padding-right: 36px;")
                    input.form-control.input-md

                  div.hide(id="editProfileSelectElementParent", style="position:absolute; width:100%; padding-right: 36px;")
                    +selectStateFormControlBad()

                span.hide.error


            div(style="margin-bottom:8px;")
              .text-danger.hide.formerror
                strong Could not update your information!


            div(class="modalCancelSubmitBtns")
              button(class="btn btn-default btn-md" data-dismiss="modal", id="editProfileFormModalCancel") Cancel
              | &nbsp;&nbsp;&nbsp;&nbsp;
              button(type="submit", class="btn btn-primary btn-md", id="submitEditProfileBtn") Submit


        .modal-footer
          .loading(style="display:none;")


  .modal.fade(id="currentUserDataPathModal", tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title

        .modal-body

          .alertDanger.alert.alert-danger.hide(style="margin-top: 0px; margin-bottom: 10px;")

          div.required-fields
            .form-group

              label.control-label(id="currentUserDataPathLabel", style="margin-top:1px;")

              input.form-control.input-md(id="currentUserDataPath")

              span.hide.error(id="currentUserDataPathRegistered")
              span.hide.error(id="currentUserDataPathError") Please fill out this field. Please match the requested format.

            div(style="margin-bottom:8px;")
              .text-danger.hide.formerror
                strong Could not update your information!


            div(class="modalCancelSubmitBtns")
              button(class="btn btn-default btn-md cancelButton", data-dismiss="modal") Cancel
              | &nbsp;&nbsp;&nbsp;&nbsp;
              button(type="submit", class="btn btn-primary btn-md nextButton") Next


        .modal-footer
          .loading(style="display:none;")


  .modal.fade(id="userDataEmailPathChangeModal", tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Change your Email Address BAD:

        .modal-body

          .alertDanger.alert.alert-danger.hide(style="margin-top: 0px; margin-bottom: 10px;")

          form(action="https://localhost:3000/api/newuserdatapathchange", id="userDataEmailPathChangeForm", method="put", enctype="application/x-www-form-urlencoded")

            div.required-fields
              .form-group

                label.control-label(style="margin-top:6px;") Enter Your New Email Address:

                input.form-control.input-md(type="text", id="email", name="email", tabindex="1", title="Please type a valid Email Address", placeholder="Email Address") 

                span.hide.error(id="userDataEmailPathChangeImproper") Email is in improper format
                span.hide.error(id="userDataEmailPathChangeRegistered") This email address is already in our system. Sign in, or enter a new email address
                span.hide.error(id="userDataEmailPathChangeError") Please enter an email address. Please type a valid Email Address


            div.required-fields
              .form-group

                label.control-label(style="margin-top:6px;") Confirm The New Email Address:

                input.form-control.input-md(type="text", id="confirmEmail", name="confirmEmail", tabindex="2", title="Please type a valid Email Address", placeholder="Confirm Email Address")

                span.hide.error(id="confirmUserDataEmailPathChangeImproper") Confirm Email is in improper format
                span.hide.error(id="confirmUserDataEmailPathChangeRegistered") This email address is already in our system. Sign in, or enter a new email address
                span.hide.error(id="confirmUserDataEmailPathChangeMatch") Emails don't match
                span.hide.error(id="confirmUserDataEmailPathChangeError") Please enter an email address. Please type a valid Email Address


            div(style="margin-bottom:8px;")
              .text-danger.hide.formerror
                strong Could not update your information!


            div(class="modalCancelSubmitBtns")
              button(class="btn btn-default btn-md cancelButton", data-dismiss="modal") Cancel
              | &nbsp;&nbsp;&nbsp;&nbsp;
              button(type="submit", class="btn btn-primary btn-md submitButton") Submit


        .modal-footer
          .loading(style="display:none;")


  .modal.fade(id="userDataPasswordPathChangeModal", tabindex="-1")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Change your Password:

        .modal-body

          .alertDanger.alert.alert-danger.hide(style="margin-top: 0px; margin-bottom: 10px;")

          form(action="https://localhost:3000/api/newuserdatapathchange", id="userDataPasswordPathChangeForm", method="put", enctype="application/x-www-form-urlencoded")

            div.required-fields
              .form-group

                label.control-label(style="margin-top:6px;") Enter Your New Password:

                input.form-control.input-md(type="password", id="password", name="password", tabindex="1", title="Password must be at least 4 characters long. No whitespace allowed", placeholder="Create Password") 

                span.hide.error(id="userDataPathChangeError") Please fill out this field.


            div.required-fields
              .form-group

                label.control-label(style="margin-top:6px;") Confirm The New Password:

                input.form-control.input-md(type="password", id="confirmPassword", name="confirmPassword", tabindex="2", title="Password must be at least 4 characters long. No whitespace allowed", placeholder="Confirm Password")

                span.hide.error(id="confirmUserDataPathChangeMatch") Passwords don't match
                span.hide.error(id="confirmUserDataPathChangeError") Please fill out this field.


            div(style="margin-bottom:8px;")
              .text-danger.hide.formerror
                strong Could not update your information!


            div(class="modalCancelSubmitBtns")
              button(class="btn btn-default btn-md cancelButton", data-dismiss="modal") Cancel
              | &nbsp;&nbsp;&nbsp;&nbsp;
              button(type="submit", class="btn btn-primary btn-md submitButton") Submit


        .modal-footer
          .loading(style="display:none;")




  .main
    br
    br

    .container

      .row
      
        .col-xs-12.col-sm-3.col-md-3.col-md-3
          .text-center
            img(src="/images/someUser.jpg")
      
      
        .col-xs-12.col-sm-7.col-md-7.col-md-7
      

          .row
            div(style="height:25px")


          .row
            .col-xs-12
              p.small CSRF token (NEW): <br> #{csrfToken}
              script.
                console.log('pug > isSafari???: ', isSafari)
                console.log('pug > isSafari webkitVersion: ', webkitVersion)
                console.log('pug > isSafari interactiveFormValidationEnabled: ', interactiveFormValidationEnabled)

              - if (error != undefined)
                .alert.alert-danger(role="alert") #{error}
      

          .row
      
            - var isodate = `${currentUser.previouslogin}`
            - var millis = Date.parse(isodate)
            .col-xs-12
              .pull-right.text-muted.alertEditUser
                small
                  i Last login:
                    | &nbsp;
                    +newAppDate(millis,true)
      
          .row
            div(style="height:25px")
      
          
          .row
      
            .col-xs-12
              ul.nav.nav-tabs
                li.active
                  a(id="personalInfoToggle" href="#home" data-toggle="tab")
                    h4 Profile
                li
                  a(id="accountInfoToggle" href="#profile" data-toggle="tab")
                    h4 Account
      
              .tab-content
      
                div(class="tab-pane active" id="home")
      
                  div(style="height:16px")
      
      
                  div
                    div
                      h4
                        i First Name:
      
                    div(class="flex-containerMainCentered")
      
                      div(class="flex-containerSubProfile")
      
                        div(class="dont-break-out first-name" style="font-size: 1.0em;") #{currentUser.firstname}

                      div(class="personalInfo", style="display:none;", data-id="first-name", data-formelementtype="text")
                        button(class="btn btn-primary btn-md editFormElement") Edit
      
                    div(style="height:12px")
      
      
                  div
                    div
                      h4
                        i Last Name:
      
                    div(class="flex-containerMainCentered")
      
                      div(class="flex-containerSubProfile")
      
                        div(class="dont-break-out last-name" style="font-size: 1.0em;") #{currentUser.lastname}

                      div(class="personalInfo", style="display:none;",  data-id="last-name", data-formelementtype="text")
                        button(class="btn btn-primary btn-md editFormElement") Edit
      
                    div(style="height:12px")
      
      
                  div
                    div
                      h4
                        i City:
      
                    div(class="flex-containerMainCentered")
      
                      div(class="flex-containerSubProfile")
      
                        div(class="dont-break-out city" style="font-size: 1.0em;") #{currentUser.city}

                      div(class="personalInfo", style="display:none;",  data-id="city", data-formelementtype="text")
                        button(class="btn btn-primary btn-md editFormElement") Edit
      
                    div(style="height:12px")
      
      
                  div
                    div
                      h4
                        i State:
      
                    div(class="flex-containerMainCentered")
      
                      div(class="flex-containerSubProfile")
      
                        div(class="state" style="font-size: 1.0em;") #{currentUser.state.full}

                      div(class="personalInfo", style="display:none;", data-id="state", data-formelementtype="select")
                        button(class="btn btn-primary btn-md editFormElement") Edit
      
      
                  div(style="height:28px")
      
                  div
                    button(id="personalInfoUpdate" class="btn btn-success btn-md nav-toggle") Update Personal info
      
      
                div(class="tab-pane" id="profile")
      
                  div(style="height:16px")
      
      
                  div
                    div
                      h4
                        i Username:
      
                    div(class="flex-containerMainCentered")
      
                      div(class="flex-containerSubProfile")
      
                        div(class="text-muted controlOverflow" style="font-size: 1.0em;") #{currentUser.displayname}
                    small.text-muted
                      | &nbsp;&nbsp;&nbsp;
                      i *Username cannot be changed
      
      
      
                    div(style="height:12px")


      
                  div
                    div
                      h4
                        i Email:
      
                    div(class="flex-containerMainCentered")
      
                      div(class="flex-containerSubProfile")
      
                        div(class="dont-break-out email" style="font-size: 1.0em;") #{currentUser.email}

                      div(class="accountInfo", style="display:none;",  data-id="email", data-formelementtype="email")
                        button(class="btn btn-primary btn-md editFormEmailPassElement") Edit
      
                    div(style="height:12px")
      
      

                  div
                    div
                      h4
                        i Password:
      
                    div(class="flex-containerMainCentered")
      
                      div(class="flex-containerSubProfile")
      
                        div(class="dont-break-out password" style="font-size: 1.0em;") ********
      
                      div(class="accountInfo", style="display:none;", data-id="password", data-formelementtype="password")
                        button(class="btn btn-primary btn-md editFormEmailPassElement") Edit
                        
                    small.text-muted
                      | &nbsp;&nbsp;&nbsp;
                      i *Password is hidden 
      
      
                  div(style="height:28px")
      
                  div
                    button(id="accountInfoUpdate" class="btn btn-success btn-md nav-toggle") Update Account info

  .modal-backdrop
     img(src="/images/ajax-loader.gif" style="position: fixed; top: 45%; left: 49%;")

